* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f3f7;
    position: relative;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-nav li {
    padding: 10px 30px;
}

.navbar-nav li a {
    color: black;
}

.navbar-nav li:hover a {
    color: black;
    font-weight: bold;
}

.navbar-nav li:hover a {
    border-bottom: 3px solid black;
}

nav {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-toggler {
    border: 2px solid black;
}

.layout-padding {
    padding: 0px 100px;
}

footer {
    background-color: #377198;
}

.social-links i {
    font-size: 20px;
}

.copyright-container {
    border-top: 3px solid white;
}

.color-container {
    /* background-color: #377198; */
    width: 70vw;
    height: 60vh;
    border-bottom-right-radius: 50px;
}

.star-container span {
    font-size: 45px;
    color: #8d512c;
}

.left-container {
    position: relative;
    width: 30vw;
}

.star-container {
    position: absolute;
    right: 80px;
    top: 50px;
}

.landing-image {
    width: 350px;
    height: 200px;
    position: relative;
    top: 100px;
    right: 100px;
    object-fit: cover;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.color-container h1 {
    font-size: 60px;
    margin-top: 150px;
    /* color: white; */
}

.color-container h6 {
    /* color: white;  */
}

#navbarButton[aria-expanded="true"] {
    background-color: #8d512c;
    color: white;
}

.btn-type-1 {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #8d512c;
    color: white;
}
.btn-type-2 {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #377198;
    color: white;
}
.btn-type-2:hover {
    background-color:#45598d;
    color: white;
}

.mb-100 {
    margin-bottom: 100px;
}

.highlight-container {
    background-color: #8d512c;
}

.sub-color-heading {
    color: #8d512c;
    font-weight: bold;
}


 .country-card {
    margin:10px auto ;
     width: 350px;
     background-color: white;
     border-radius: 10px;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }

 .country-card img {
     width: 100%;
     height: 300px;
 }


.testimonial-card {
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px auto ;
}

.quote-container .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.quote-container span {
    font-size: 44px;
    transform: rotateY(180deg);
    color: #8d512c;
}.student-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.support-container{
    background-color: #fff;
}

.guidance-container img{
border-radius: 47% 53% 100% 0% / 0% 100% 0% 100% ;
}

.nav-pills .nav-link.active{
background-color: #377198;
}

.scrollspy-example{
    top: 10vh;
    position: relative;
    margin-bottom: 10vh;
}

.info-container{
    background-color: #377198;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    width: 300px;
}
.info-container p{
    padding: 0;
}
.service-container{
    background-color: white;
padding: 0px 30px;
}
.color-icon{
    background-color: #ffa8a3;
    color: #8d512c;
    padding: 10px;
    border-radius: 50%;
}


.nav-pills .nav-link.active {

}
.navbar-light .navbar-nav .nav-link.active{
    color: white;
    font-weight: bold;
}
.service-img-container{
    width: 350px;
    height: auto;
}

.welcome-carusel{
    width: 100%;
    height: 60vh;
}
.carousel-inner{
    height: 100%;
}
.carousel-item {
    height: 100%;
    object-fit: cover;
    background-color: #377198;
}
.carousel-item img{
    margin: 0px auto;
    height: 100%;



}
.carousel-item:after {
  content:'';
  position:absolute;
   width:100%; height:100%;
  left:0; top:0;
  display:inline-block;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.7) 100%); /* Chrome10+,Safari5.1+ */
  /* background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
  /* background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); IE10+ */
  /* background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); W3C */
}

.carousel-caption{
    z-index: 100;
}


footer .company-logo{

padding: 10px;
}

.company-logo{
    width: 160px;
    border-radius: 50%;
    background-color: white;
}

/* Responsive design */

@media only screen and (max-width: 768px) {
    .layout-padding {
        padding: 10px;
    }
    .color-container {
        background-color: white;
        padding: 10px;
        height: auto;
        width: 90vw;
    }
    .color-container h1 {
        font-size: 25px;
        margin-top: 30px;
        color: black;
    }
    .landing-image {
        width: 300px;
        height: auto;
        top: 0;
        right: 0;
        object-fit: cover;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .color-container h6 {
        color: black;
    }
    .service-img-container{
    width: 260px;
    height: auto;
}
}